---
import { Image } from "astro:assets";
import footerdog from "../assets/images/footerdog.webp";
import Button from "../components/Button.astro";
import mentions from "../assets/images/mentions.png";
import tooth from "../assets/images/tooth.svg";
---

<article class="md:grid grid-cols-2 gap-8 mx-5 md:mx-custom104 pt-20">
  <div>
    <h3 class="pb-6 text-2xl md:text-custom32 font-bold uppercase">DON´T MISS OUT ON TREATS FROM OUR NEWSLETTER</h3>
    <div class="flex items-center gap-10 mb-4"><p>Enter your email address</p><Button variant="subprimary" size="mobilesmall">Sign up</Button></div>
    <Image src={footerdog} alt="picture of dog peeking up" class="w-[250px] h-auto ml-8" />
  </div>
  <div>
    <p class="text-xl md:text-2xl pb-5">We care about you and your dog and we believe that <strong>a healthy pup</strong> = <strong>a happy life</strong></p>
    <p class="pb-4">Learn more about how our products can support your doggo’s health:</p>
    <ul class="font-bold">
      <li class="pb-3 flex"><Image src={tooth} alt="tooth" class="w-[50px]" /><p>Dental hygiene</p></li>
      <li class="pb-3">Weight management</li>
      <li class="pb-3">Grain free</li>
      <li class="pb-3">Sensitive skin</li>
    </ul>
  </div>
</article>
<article class="bg-SalmonTreat-500 pb-10">
  <div class="mx-5 md:mx-custom104 md:grid grid-cols-3 gap-8 pt-12">
    <div>
      <p class="font-bold pb-4">Learn More</p>
      <p class="pb-3">Social Responsibility</p>
      <p class="pb-3">Blog</p>
      <p class="pb-3">Careers</p>
      <p class="pb-3">Press</p>
    </div>
    <div>
      <p class="font-bold pb-4">Our Services</p>
      <p class="pb-3">Terms & Conditions</p>
      <p class="pb-3">Privacy Policy</p>
      <p class="pb-3">Cookie Policy</p>
      <p class="pb-3">FAQ</p>
    </div>
    <div>
      <p class="font-bold pb-4">Follow Us on Our Socials</p>
      <p class="pb-4">Links</p>
      <p class="font-bold pb-4">Our Customers and Their Pups Love Us</p>
      <p class="pb-4">4.4</p>
    </div>
  </div>
  <div class="mx-5 md:mx-custom104 pt-12">
    <p class="font-bold pb-4">Woof! Not to Brag But We've Been Featured in...</p>
    <Image src={mentions} alt="logos from newspapers" class="w-[500px] h-auto" />
  </div>
</article>
