---

---

<div x-data="{ showmenu: false }" class="fixed w-full">
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo" class="text-4xl">
      <a href="#">Logo</a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-12 text-4xl">
        <li class=""><a href="#" class="no-underline">menu</a></li>
        <li class=""><a href="#">menu</a></li>
        <li class=""><a href="#">menu</a></li>
      </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">
      <span :class="{ 'rotate-45 translate-y-2': showmenu }" class="block w-8 h-0.5 bg-black mb-2 transition-all duration-300"></span>
      <span :class="{ 'opacity-0': showmenu }" class="block w-8 h-0.5 bg-black mb-2 transition-all duration-300"></span>
      <span :class="{ '-rotate-45 -translate-y-2': showmenu }" class="block w-8 h-0.5 bg-black transition-all duration-300"></span>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center pt-4" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul>
      <li class="text-center py-2 border-y-2 border-black"><a href="#">menu</a></li>
      <li class="text-center py-2 border-b-2 border-black"><a href="#">menu</a></li>
      <li class="text-center py-2 border-b-2 border-black"><a href="#">menu</a></li>
    </ul>
  </nav>
</div>
