---

---

<section class="bg-BarkingAtTheMoon-500 py-8 px-5 md:p-custom104 mb-16 md:mb-44" id="kinetic">
  <h1 class="text-FluffyCloud-300 text-2xl text-center md:text-custom54 md:text-left font-paytone uppercase">YOUR BEST FRIEND DERSERVES</h1>
</section>
