---
import { Image } from "astro:assets";
import logo from "../assets/images/Logo.webp";
---

<div x-data="{ showmenu: false }" class="w-full">
  <div id="navbar" class="flex flex-row justify-between px-8 py-6">
    <div id="logo">
      <a href="#" class="flex items-center">
        <Image class="w-auto h-14" src={logo} alt="Logo" />
      </a>
    </div>

    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-12 text-xl font-medium">
        <li class=""><a href="#" class="no-underline">Pricing</a></li>
        <li class=""><a href="#">The Menu</a></li>
        <li class=""><a href="#">Our Story</a></li>
        <li class=""><a href="#">Get Started</a></li>
      </ul>
    </nav>

    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">
      <span :class="{ 'rotate-45 translate-y-2': showmenu }" class="block w-8 h-0.5 bg-black mb-2 transition-all duration-300"></span>
      <span :class="{ 'opacity-0': showmenu }" class="block w-8 h-0.5 bg-black mb-2 transition-all duration-300"></span>
      <span :class="{ '-rotate-45 -translate-y-2': showmenu }" class="block w-8 h-0.5 bg-black transition-all duration-300"></span>
    </button>
  </div>

  <nav id="mobilmenu" class="flex flex-col content-center pt-4" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul>
      <li class="text-center py-2 border-y-2 border-black"><a href="#">Pricing</a></li>
      <li class="text-center py-2 border-b-2 border-black"><a href="#">The Menu</a></li>
      <li class="text-center py-2 border-b-2 border-black"><a href="#">Our Story</a></li>
      <li class="text-center py-2 border-b-2 border-black"><a href="#">Get Started</a></li>
    </ul>
  </nav>
</div>
