---
import Button from "../components/Button.astro";
import Productcard from "../components/Productcard.astro";
---

<section class="mx-5 md:mx-custom104 mb-44">
  <h2 class="text-2xl md:text-custom54 font-paytone md:max-w-3xl pb-6 md:pb-8 uppercase">EXPLORE OUR PRODUCTS</h2>
  <p class="text-sm md:text-xl pb-8 md:pb-16 md:max-w-2xl">Explore our curated selection of high-quality, tailored dog food to find the perfect match for your dog's unique needs.</p>

  <article class="flex flex-wrap justify-center sm:grid sm:grid-cols-2 lg:grid-cols-3 md:gap-12">
    <Productcard cardimage="/drykibble.webp" productname="TAILOR-MADE DRY FOOD" class="" />
    <Productcard cardimage="/wetfood.webp" productname="Wet food" />
    <Productcard cardimage="/seniorfood.webp" productname="Senior dog food" />
    <Productcard cardimage="/puppyfood.webp" productname="Puppy food" />
    <Productcard cardimage="/hypoallergenic.webp" productname="Hypo-allergenic" />
    <Productcard cardimage="/sensitive.webp" productname="Sensitive stomachs" />
  </article>
</section>
