---

---

<!-- Skulle det være en text base i p her eller en text-xl (hvis vi følger designsystemet og prototype skal den være xl) / text-custom32 er ikke bold - hvordan får jeg den det? -->
<section class="mb-44 px-custom104">
  <h1 class="text-custom54 font-paytone uppercase max-w-3xl">WE KNOW WHAT WE ARE DOING AND WE ARE PASSINOATE ABOUT IT</h1>
  <p class="text-xl">Behind every tailored meal is a passionate team of experts dedicated to improving dogs’ lives. From nutritionists to developers, meet the people who make tails.com’s personalized approach possible.</p>
  <div class="grid grid-cols-3 gap-custom90">
    <div>
      <h3 class="text-custom32">Sean McCormack</h3>
      <p class="text-xl">BSc (Hons), MVB, MRCVS (Head vet)</p>
      <p class="text-base">Sean studied Animal Science as an undergraduate learning about anatomy, physiology, husbandry and nutritional management of a range of domestic animals, followed by his Veterinary Medicine degree (MVB) at University College Dublin.</p>
      <p class="text-base">Having spent six years in private practice at various first opinion and referral small animal clinics, he has a great understanding of dog owners and the concerns they face when trying to choose the best diet for their pets.</p>
    </div>
    <div>
      <h3 class="text-custom32">Amy Henson</h3>
      <p class="text-xl">BSc (Hons) RVN, N.Cert (SAN) (Veterinary nurse & customer experience team leader)</p>
      <p class="text-base">Amy has been a qualified veterinary nurse for over ten years, spending most of this time in various roles within the charity sector and in specialist veterinary centres. She has industry-leading expertise in animal nutrition and dog owner education.</p>
      <p class="text-base">Amy is our customer experience nutritional team leader, and is a vital source of knowledge and training for the whole team.</p>
    </div>
    <div>
      <h3 class="text-custom32">Dr Samantha Ware</h3>
      <p class="text-xl">MSc, PhD (Lead nutritionist)</p>
      <p class="text-base">Samantha has over sixteen years experience in animal nutrition. From a Master's degree in animal nutrition, a PhD in nutritional sciences and an extensive professional career formulating and developing diets within the pet food industry, Samantha is extremely knowledgeable on the dietary needs of individual dogs.</p>
      <p class="text-base">Having previously formulated food for the royal dogs, Samantha now spends her time developing tails.com nutritional blends. Samantha is pictured with her rescue pug, Giselle.</p>
    </div>
  </div>
  <!-- button -->
  <h3 class="text-custom32">We are here for you</h3>
  <p>Got questions? We get it – as fellow dog owners, we’ve been there too. That’s why we’ve gathered all the tips and tricks we’ve learned along the way in the Tails.com blog. From expert advice on puppy health and training by our head vet Sean to handy tips for making life with your furry friend even better – it’s all there.</p>
  <p>Our friendly customer service team is also always ready to help in our chat, with support from our veterinary and nutrition experts whenever you need it.</p>
</section>
