---
import { Image } from "astro:assets";
import treats from "../assets/images/dogtreats.webp";
import Button from "../components/Button.astro";
import Reviewscard from "../components/Reviewscard.astro";
---

<section class="mx-5 md:mx-custom104">
  <h2 class="text-2xl md:text-custom54 font-paytone md:max-w-3xl pb-6 md:pb-16 uppercase">Dogs Love Us, Yours Will Too</h2>
  <p class="pb-6 md:max-w-2xl">With 19,000 Trustpilot reviews and 145,000 dogs enjoying 8 million meals monthly, we think you and your dog will love us too.</p>

  <Reviewscard cardimage="buster.webp" cardimagealt="picture of buster the dog" cardname="Buster"/>

  <div class="sm:grid sm:grid-cols-2 md:grid-cols-3 gap-32 mb-12"></div>
</section>
<section class="bg-BarkingAtTheMoon-100 mb-44">
  <div class="md:grid grid-cols-2 mx-5 md:mx-custom104 py-custom104">
    <article>
      <Image src={treats} alt="image of dog treats" class="w-48 m-auto" />
    </article>
    <article>
      <h3 class="text-2xl md:text-custom32 font-bold pb-6">Has your dog been a good pup?</h3>
      <p class="pb-12">Add in yummy wet food and healthy treats. We’ll adjust your dog’s feeding plan to suit.</p>
      <Button>See Our Add-ons</Button>
    </article>
  </div>
</section>
