---
import Button from "../components/Button.astro";
---

<section class="bg-BarkingAtTheMoon-500 py-8 px-5 md:p-custom104">
  <h2 class="text-FluffyCloud-300 pb-4 md:pb-8 text-center text-2xl md:text-custom54 font-paytone uppercase">Start your pup’s <span class="text-SalmonTreat-500">subscription</span> today!</h2>
  <p class="text-FluffyCloud-300 pb-6 md:pb-12 text-xs md:text-xl text-center">Enticing taste. Energizing nutrition. Enriching variety. Excited dogs.</p>
  <div class="text-center">
    <a href="/">
      <a href="/form"><Button variant="primary" size="small">Start Trial</Button></a>
    </a>
  </div>
</section>
