---
import Button from "../components/Button.astro";
---
<section class="bg-BarkingAtTheMoon-500 py-8 px-5 md:p-custom104 mb-44">
    <h1 class="text-FluffyCloud-300 pb-10 text-center md:text-custom54 font-paytone uppercase">Start your pup’s <span class="text-SalmonTreat-500">subscription</span> today!</h1>
    <p class="text-FluffyCloud-300 text-2xl text-center">Enticing taste. Energizing nutrition. Enriching variety. Excited dogs.</p>
     <Button>Start Trial test</Button>
     
</section>